$color-base: #0e14ce;
$color-base--transp: rgb(14 20 206 / 15%);
$color-base--dark: #0c0f80;
$color-base--light: #5c61ff;

//background
$color-background: #F4F4F4;
$color-background--secondary: #EAEAEA;

$color-box-shadow: #d9d9d9;
$color-box-shadow--dark: #9f9f9f;

// text
$color-text: #000;
$color-text--transp: rgb(0 0 0 / 50%);
$color-text--secondary: $color-base;
$color-text--error: #b30000;
$color-text--success: #81B72A;


//button
$color-button--border: $color-base;

$color-button: #F4F4F4;
$color-button--hover: #F4F4F4;
$color-button--background: $color-base;
$color-button--background--hover: $color-base--dark;

$color-button--secondary: #137a28;
$color-button--secondary--hover: $color-base--light;
$color-button--background--secondary: #F4F4F4;
$color-button--background--secondary--hover: #FFF;


$color-light-gray: #c2c2c2;
$color-gray: #808080;
$color-white: #F4F4F4;
$color-black: #000000;
