@import './abstracts';

* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: $fonts;
}
html, body, body>div{
  width: 100%;
  height: 100%;
  background-color: $color-background;
}

a{
  color: inherit;
  text-decoration: none;

  &.link{
    color: $color-base--light;
    font-weight: 600;
    opacity: .8;
    transition: $transition-fast;
    &:hover{
      opacity: 1;
      color: $color-base;
    }
  }
}

h1, h2, h3, h4, h5, p{
  margin: 0;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
h1{
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  @include media-query($medium-up){
    font-size: 2rem;
    margin-bottom: 1.8rem;
  };
}
h2{
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 1.3rem;
  @include media-query($medium-up){
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  };
}
h3{
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1.1rem;
  @include media-query($medium-up){
    font-size: 1.6rem;
    margin-bottom: 1.3rem;
  };
}
h4{
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  @include media-query($medium-up){
    font-size: 1.2rem;
    margin-bottom: 1.1rem;
  };
}
h5{
  font-size: .8rem;
  font-weight: 400;
  margin-bottom: .9rem;
  text-transform: uppercase;
}
.center{
  text-align: center;
  margin: auto;
  width: fit-content;
}


/* FIELD BUTTON SUBMIT */
input, textarea  {
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: white;
  padding: 5px;
  width: 100%;
  height: 36px;
  font-size: .9em;
  font-weight: 500;
  border-radius: 5px;
  color: $color-text;
  border: 1px solid $color-button--border;

  &::placeholder{
    font-size: .8rem;
    font-weight: 400;
    opacity: .8;
    color: $color-text;
  }
  &:focus{
     outline: none;
  }
}
textarea{
  resize: none;
  height: 72px;
}

input.error, input.error::placeholder, textarea.error  {
  color: var(--color-red);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px $color-background inset !important;
  -webkit-text-fill-color: $color-text;
  border: 1px solid $color-button--border;
}


button, .btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: fit-content;
  border-radius: 5px;
  padding: 0 35px;
  background: $color-button--background;
  color: $color-button;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: $fonts;
  white-space: nowrap;
  transition: $transition-slow;
  &.large{
    height: 44px;
    border-radius: 22px;
  }
  &:hover{
    cursor: pointer;
    background: $color-button--background--hover;
    color: $color-button--hover;
  }
  &:focus{
    outline: none;
  }
  &.btn--secondary{
    background: $color-button--background--secondary;
    border: 1px solid $color-button--secondary;
    color: $color-button--secondary;
    opacity: .6;
    &.negatif{
      border: 1px solid $color-button--secondary--negatif;
      color: $color-button--secondary--negatif;
    }
    &:hover{
      cursor: pointer;
      opacity: 1;
    }
  }
}

.submit{
  margin-top: 20px;
}
/* FIELD BUTTON SUBMIT */







/* SECTION */
.section{
  background-color: $color-background;
  padding: $size-padding--small;
  @include media-query($large-up){
    padding: $size-padding--large--y $size-padding--large--x;
    max-width: $size-maxwidth--large;
    margin: auto;
  };
  &:last-child{
    padding-bottom: 80px;
  }
}
.section--title{
  text-align: center;
}
/* SECTION */
