@import '../../abstracts';

.container{
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-query($medium-up){
    flex-direction: row;
  };
}

.image{
  width: 200px;
  height: 300px;
  background-color: $color-background--secondary;
  position: relative;
  margin-bottom: 40px;
  @include media-query($medium-up){
    margin-bottom: 0;
    margin-right: 40px;
  };
}

.image_zoom{
  overflow: hidden;
  img{
    transition: $transition-fast;
    &:hover{
      transition: $transition-slow;
      transform: scale(1.05);
    }
  }
}

.wrapper{
  display: flex;
  flex-direction: column;

  @include media-query($medium-up){
    justify-content: space-between;
    height: 300px;
  };
}

.wrapper_top{
  margin-bottom: 30px;
  > div{
    margin: 20px 0;
  }
}
