@import '../../abstracts';

.container{
  display: flex;
  flex-direction: column;

  input, button{
    margin: 10px 0;
  }
  
  @include media-query($large-up){
    flex-direction: row;
    margin: 0 0 0 60px;
    button{
      margin-left: 20px;
    }
  };
}
