@import '../../abstracts';

.container{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  input, button{
    margin: 10px 0;
  }

  @include media-query($large-up){
    flex-direction: row;
    button{
      margin-left: 20px;
    }
  };
}
